<div class="container">
  <div class="tm-main-content no-pad-b">

    <section class="row tm-item-preview">
      <div class="col-md-6 col-sm-12 mb-md-0 mb-5">
        <img src="../assets/img/images.jpg" alt="Image" class="img-fluid tm-img-center-sm">
      </div>
      <div class="col-md-6 col-sm-12">
        <h2 class="tm-blue-text tm-margin-b-p">{{event.eventName}}</h2>
        <p class="tm-margin-b-p">{{event.eventDescription}}</p>
        <p class="tm-blue-text tm-margin-b-s">Categories:<a href="#" class="tm-blue-text"> {{event.category}}</a>
        <p class="tm-blue-text tm-margin-b"> Date: {{event.eventDate | date}}</p>
        <p class="tm-blue-text tm-margin-b-s">Start Time: {{event.startTime}}</p>
        <p class="tm-blue-text tm-margin-b"> Free place number: {{event.freePlacesNumber}}</p>
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-primary" (click) = "applyOnEvent(event, event.eventLocation.id)">Apply on event</button>
        </div>
      </div>
    </section>
    <hr>
    <app-google-maps [latitude]="event.eventLocation.latitudeValue" [longitude]="event.eventLocation.longitudeValue"></app-google-maps>
    <div class="tm-gallery no-pad-b">
      <div class="row">
        <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item mb-5">
          <a href="preview.html">
            <div class="tm-gallery-item-overlay">
              <img src="../assets/img/images.jpg" alt="Image" class="img-fluid tm-img-center">
            </div>
            <p class="tm-figcaption no-pad-b">Suspendisse suscipit</p>
          </a>
        </figure>
        <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item mb-5">
          <a href="preview.html">
            <div class="tm-gallery-item-overlay">
              <img src="../assets/img/images.jpg" alt="Image" class="img-fluid tm-img-center">
            </div>
            <p class="tm-figcaption no-pad-b">Cras non augue</p>
          </a>
        </figure>
      </div>
    </div>
  </div>
</div>
