<div class="reviews">
  <div class="row" *ngFor="let review of reviewsList">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h4>{{review.username}}</h4> commented on {{review.reviewDate}}
        </div>
        <div class="card-body">
          <h6 class="card-title">{{review.reviewText}}</h6>
          <button *ngIf="isAdmin" class="btn btn-danger" (click)="deleteReview(review.id)">Delete comment</button>

        </div>
      </div>
    </div>
  </div>
  <app-error-component [errorObject]="errorOnDeleteReview"></app-error-component>
</div>
