<div class="add_events_modal">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addLocationModal">Add location
  </button>

  <!-- Modal -->
  <div class="modal fade" id="addLocationModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Enter your location information</h4>
          <button type="button" class="close pull-left" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
          <input type="text" [(ngModel)]="locationAddress" class="form-control" aria-describedby="emailHelp"
                 placeholder="Location address">
          <hr/>
          <input type="number" [(ngModel)]="latitude" class="form-control" aria-describedby="emailHelp"
                 placeholder="Latitude">
          <hr/>
          <input type="number" [(ngModel)]="longitude" class="form-control" aria-describedby="emailHelp"
                 placeholder="Longitude">
        </div>
        <app-error-component [errorObject]="errorOnAddLocation"></app-error-component>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left"
                  (click)="addNewLocation(locationAddress, latitude, longitude)">Save
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>

