<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Events list Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" *ngFor="let itemMenu of menuItems"
            [ngClass]="{'active': itemMenu.route === currentRoute }">
          <a class="nav-link" [routerLink]="'/' + itemMenu.route">{{itemMenu.value}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="checkIfAdminUser()" [routerLink]="'/admin'">Administrate your app</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logutUser()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
