<header class="tm-site-header">
  <h1 class="tm-site-name">Shelf</h1>
  <p class="tm-site-description">Your Online Bookstore</p>

  <div class="topnav" #expandLink id="myTopnav">
    <a *ngFor="let itemMenu of menuItems"
       [routerLink]="'/' + itemMenu.toLocaleLowerCase()"
       [ngClass]="{'active': itemMenu.toLocaleLowerCase() === currentRoute }"
    >
      {{itemMenu}}
    </a>
    <a class="pull-right" *ngIf="checkIfAdminUser()" [routerLink]="'/admin'">Administrate your app</a>
    <a style="font-size:15px;"  class="icon" (click)="toggleNavbar(expandLink)">&#9776;</a>
  </div>

</header>
