<div class="tm-main-content">
  <header>
    <h2 class="tm-main-title">Welcome to our Events site</h2>
  </header>

  <p>Shelf HTML template is provided by Tooplate. Please tell your friends about it. Thank you. Images are from Unsplash website. In tincidunt metus sed justo tincidunt sollicitudin. Curabitur magna tellus, condimentum vitae consectetur id, elementum sit amet erat.</p>

  <div class="tm-gallery" >
      <div class="row" >
        <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item" *ngFor="let event of events">
          <a (click)="goToEventById(event.id)">
            <div class="tm-gallery-item-overlay">
              <img src="../assets/img/images.jpg" alt="Image" class="img-fluid tm-img-center">
            </div>
            <p class="tm-figcaption">{{event.eventName}}</p>
            <p class="tm-figcaption">{{event.eventDescription | lengthPipe}}</p>
          </a>
        </figure>
      </div>
    </div>
</div>
